<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>Restaurant Listing</title>

    <!-- Bootstrap CSS -->
    <link
      href="bootstrap@5.1.3/dist/css/bootstrap.min.css">https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Mapbox library imports -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
      .wrap {
      }

      .banner {
      }

      .restaurant-list {
      }

      #map {
        width: 100%;
        height: 50vh;
        margin: 20px auto;
      }
    </style>
    <script>
      $(document).ready(function () {
        mapboxgl.accessToken =
        mapboxgl.accessToken = "pk.eyJ1Ijoid2l3aW53aW5pbmdzaWgiLCJhIjoiY2xsa2JrMW9rMDZ3cDNwcGFxdWljNTMwMSJ9.xmfHleHe_TKQkgLCYqXMCw";
         let map = new mapboxgl.Map({
          container: "map", // container ID
          center: [-122.420679, 37.772537], // starting position [lng, lat]
          zoom: 13, // starting zoom
          style: "mapbox://styles/mapbox/streets-v11", // style URL or style object
          hash: true, // sync `center`, `zoom`, `pitch`, and `bearing` with URL
          // Use `transformRequest` to modify requests that begin with `http://myHost`.
          transformRequest: (url, resourceType) => {
            if (resourceType === "Source" && url.startsWith("http://myHost")) {
              return {
                url: url.replace("http", "https"),
                headers: { "my-custom-header": true },
                credentials: "include", // Include cookies for cross-origin requests
              };
            }
          },
        });

        let nav = new mapboxgl.NavigationControl({
          visualizePitch: true,
        });
        map.addControl(nav, "bottom-right");
      });
    </script>
  </head>
  <body>
    <div class="wrap">
      <div class="banner"></div>
      <div id="map"></div>

      <div class="restaurant-list" id="restaurant-box">
        <div class="card" id="card-0">
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="restaurant-title">The Best Restaurant</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Ramen</h6>
            <p class="card-text">Address of the restaurant</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js">https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    </script>
  </body>
</html>

